# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Exercise17.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Omer\Desktop\CourseraCSharp\Exercise17\.idea\.idea.Exercise17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
