# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Exercise11.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Omer\Desktop\CourseraCSharp\Exercise11\.idea\.idea.Exercise11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
